.individual-product-info{
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.title-and-description{
    width: 40%;
}
#product-img{
    height: 15em;
    width: 25em;
    border-radius: 20%;
}
@media only screen and (max-width: 425px){
    .individual-product-info{
        flex-direction: column;
    }
}