.product-card{
    height: 400px;
    width: 300px;
}
.product-img{
    height: 50%;
    width: 40%;
}
.product-card-body{
    padding: 0 !important;
}
.product-card-title{
    margin-bottom: 0 !important;
}
.product-card-subtitle{
    margin-bottom: 0 !important;
}
.product-card-text{
    margin-bottom: 0;
}