.my-awesome-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.whats-inside{
    width: 50%;
}
.my-form-input{
    border-radius: 15px !important;
}
.user-items-btn{
    background-color: black !important;
    border-radius: 15px !important;
}
.user-items-btn:hover{
    background-color: rgb(26, 245, 26) !important;
}